upstream teamcity {
    server localhost:{{ teamcity_server_bind_port }};
}

server {
    server_name {{ teamcity_nginx.hostname }};
{% if teamcity_nginx.ssl.configure == false %}
    listen {{ teamcity_nginx.port }};
{% endif %}
{% if teamcity_nginx.ssl.configure %}
    listen {{ teamcity_nginx.port }} ssl;

    ssl_certificate {{ teamcity_nginx.ssl.cert }};
    ssl_certificate_key {{ teamcity_nginx.ssl.key }};
{% endif %}

    location / {
      proxy_pass http://teamcity;
    }
}
