upstream teamcity {
    server localhost:{{ teamcity_server_bind_port }};
}

# https://www.nginx.com/blog/websocket-nginx/
map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    server_name {{ teamcity_nginx.hostname }};
{% if teamcity_nginx.ssl.configure == false %}
    listen {{ teamcity_nginx.port }};
{% endif %}
{% if teamcity_nginx.ssl.configure %}
    listen {{ teamcity_nginx.port }} ssl;

    ssl_certificate {{ teamcity_nginx.ssl.cert }};
    ssl_certificate_key {{ teamcity_nginx.ssl.key }};
{% endif %}

    # https://confluence.jetbrains.com/pages/viewpage.action?pageId=74845225&_ga=2.63674155.567925047.1579939555-166199587.1579939555#HowTo...-NGINX
    # public context (should be the same as internal context)
    location / {
        proxy_pass        http://teamcity; # full internal address
        proxy_http_version 1.1;
        proxy_set_header  Host $server_name:$server_port;

        # necessary for proper absolute redirects and TeamCity CSRF check
        proxy_set_header  X-Forwarded-Host $http_host;

        proxy_set_header  X-Forwarded-Proto $scheme;
        proxy_set_header  X-Forwarded-For $remote_addr;
        proxy_set_header  Upgrade $http_upgrade; # WebSocket support
        proxy_set_header  Connection $connection_upgrade; # WebSocket support
    }

}
