#/lib/systemd/system
[Unit]
Description="TeamCity Server"

[Service]
Type=forking
User={{ teamcity_server_user }}
PIDFile={{ teamcity_server_dir }}/logs/teamcity-server.pid
ExecStart={{ teamcity_server_dir }}/bin/teamcity-server.sh start
ExecStop={{ teamcity_server_dir }}/bin/teamcity-server.sh stop

[Install]
WantedBy=multi-user.target
