TEAMCITY_SERVER_ENABLED=yes
TEAMCITY_SERVER_PATH="{{ teamcity_server_dir }}"
TEAMCITY_SERVER_MEM_OPTS="-Xms2048m -Xmx2048m -XX:MaxPermSize=1024m"
TEAMCITY_DATA_PATH="{{ teamcity_server_data_dir }}"
TEAMCITY_SERVER_OPTS=""
