#/lib/systemd/system
[Unit]
Description="TeamCity Server"
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
User={{ teamcity_server_user }}
Group={{ teamcity_server_user }}
EnvironmentFile=/etc/default/teamcity-server
PIDFile={{ teamcity_server_dir }}/logs/teamcity.pid
ExecStart={{ teamcity_server_dir }}/bin/teamcity-server.sh start
ExecStop={{ teamcity_server_dir }}/bin/teamcity-server.sh stop

[Install]
WantedBy=multi-user.target
